.header-title {
  font-size: 20px;
  padding: 20px;
}
.content {
  .content-content {
    display: flex;
  }
  .select-class {
    width: 30%;
  }
}
.my-component {
  width: 160%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.submit-class {
  margin-top: 20px;
}
